/*  */
body,html {
    padding: 0;
    margin: 0;
    min-height: 100%
}

.article .article_content, .article .article_header {
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,.8);
}

.article h1 {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin: 21px 21px 12px;
    line-height: 34px;
}

.article .article_header {
    display: block;
     word-wrap: break-word;
}

aside {
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    font-size: 21px;
    color: rgba(0,0,0,.6);
    margin: 18px 21px 16px;
    padding: 0 18px;
    text-align: center;
    font-style: italic;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.article .article_content figure {
    margin: 0 21px 16px;
    padding: 0;
    text-align: center;
    position: relative;
}

.article .article_content h3, .article .article_content h4 {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    margin: 18px 21px 9px;
}

.article .article_content blockquote {
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    margin: 18px 21px 16px 0;
    padding-left: 15px;
    position: relative;
    font-style: italic;
    word-wrap: break-word;
    border-left: 3px solid #000;
}